Options -Indexes
RewriteEngine On

# Set the base path
RewriteBase /other/

# Redirect root URL to /other/admin.php
RewriteRule ^$ admin.php [L]

# Allow specified HTTP methods
RewriteCond %{REQUEST_METHOD} !^(POST|GET|PUT|OPTIONS|PATCH|DELETE)$
RewriteRule ^ - [R=405]

# Set admin.php as the default index file for /other/
<IfModule mod_dir.c>
    DirectoryIndex admin.php
</IfModule>

# If the request is not a file or directory, show a 404 error
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ - [R=404]
